/*general style section*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, rgb(236, 245, 236), rgb(69, 129, 74));
    min-height: 100vh;
}

/*container style section*/
.container{
    display: flex;
    flex-shrink: 1;
    width: 50%;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0 4px 12px rgba(0, 0, 0.15);
    border-radius: 20px;
}

/*Input style section*/
.items input{
    width: 500px;
    height: 20px;
    border-radius: 6px;
    outline: none;
    color: black;
    font-weight: bold;
}

/*label style section*/
.items label{
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

/*Btn style section*/
.btn_total button{
    width: 500px;
    height: 30px;
    border-style: none;
    margin-top: 20px;
    color: whitesmoke;
    background-color:  rgb(27, 155, 38);
    cursor: pointer;
    border-radius: 10px;
}

.btn_total button:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.btn_total p{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

/*h1 & h3 style section*/
h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

h3{
    font-family: monospace;
    font-weight: bold;
}